* {
  padding: 0%;
  margin: 0%;
}

header {
  height: 55px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
  background-color: rgb(0, 0, 0);
  position: fixed;
  top: 0px;
  z-index: 9999999;
  border-bottom: 2px solid whitesmoke;
}

header > .logo {
  color: rgb(47, 255, 0);
  text-decoration: none;
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 2px;
}

.open {
  background-color: transparent;
  width: 35px;
  height: 35px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}

.close {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 10px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px solid transparent;
}

.menu,
.cross {
  height: 18px;
  width: 18px;
}

aside {
  display: flex;
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  background: rgb(0, 0, 0);
  backdrop-filter: blur(20px);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  transition: all 1s linear;
  z-index: 9999999999;
}

.Links {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  z-index: 9999999;
}

aside > .logout {
  width: max-content;
  padding: 10px;
  letter-spacing: 1px;
  height: max-content;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 0, 0);
  border: none;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 19px;
  box-shadow: 1px 1px 10px black;
  border: 2px solid rgb(255, 0, 0);
}

.Logout {
  height: 27px;
  width: 27px;
}
