@media screen and (prefers-color-scheme: dark) {
}

@media screen and (prefers-color-scheme: light) {
}

.box {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transform: rotate(200deg);
}
