* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

#workingPageContainer {
  height: max-content;
  width: max-content;
  display: grid;
  place-items: center;
  grid-template-columns: minmax(200px, 300px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bold;
  z-index: 99;
}

.workingPageWrapper span{
  color: #4A90E2;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  animation: blink 1.5s infinite; 
  letter-spacing: 3px;


}
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.workingPageWrapper {
  display: grid;
  place-items: center;
  grid-template-columns: minmax(200px, 300px);
  height: 300px;
  width: 300px;
}

