.calculatorContainer {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  position: relative;
}

.calculatorWrapper {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: minmax(200px, 270px);
  gap: 5px;
  padding: 15px;
  background: transparent;
  margin: 28px 0px 0px 0px;
  border-radius: 13px;
  overflow: hidden;
  border: none;
  outline: none;
  border: 1px ridge white;
  box-shadow: 0px 0px 5px white inset;
}

#backSum {
  position: absolute;
  top: 45px;
  left: 20px;
  font-size: 17px;
  border-bottom: 1px ridge white;
  padding: 0% 3px;
  color: whitesmoke;
  display: none;
}

#display {
  height: 70px;
  width: 100%;
  font-size: 23px;
  border: none;
  letter-spacing: 5px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: -10px;
  outline: none;
  background-color: transparent;
  margin: 0px 0px 10px 0px;
  color: rgb(255, 255, 255);
  text-align: right;
  border-bottom: 2px ridge white;
}

.operator,
.numbers {
  height: 40px;
  width: 50px;
  border-radius: 10px;
  border: none;
  text-align: center;
  outline: none;
  cursor: pointer;
  font-size: 25px;
  padding: 5px 5px;
}

.operator {
  background: #f6ff00cf;
  color: rgb(0, 0, 0);
}
.numbers {
  background: rgba(16, 16, 16, 0.895);
  color: rgb(0, 187, 255);
}

.r1,
.r2,
.r3,
.r4,
.r5 {
  height: 50px;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  padding: 0px 2px;
}
