* {
  padding: 0%;
  margin: 0%;
  outline: none;
}

.calculatorContainer {
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

.calculatorWrapper {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: minmax(200px, 270px);
  gap: 5px;
  padding: 15px;
  background: linear-gradient(to right top,#000000,#563030);
  border-radius: 15px;
  overflow: hidden;
  border: none;
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
  /* -2px -2px 15px rgb(255, 255, 255); */
}

#display {
  height: 50px;
  width: 100%;
  font-size: 23px;
  border: none;
  letter-spacing: 5px;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
  border-radius: 10px;
  background-color: transparent;
  backdrop-filter: blur(10px);
  color: whitesmoke;
  text-align: right;
  border: 2px solid rgb(255, 255, 255);
}

.operator {
  height: 40px;
  width: 50px;
  border-radius: 10px;
  background-color: #50d8fa;
  color: rgb(0, 38, 255);
  border: none;
  font-size: 27px;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  outline: none;
  justify-content: center;
  cursor: pointer;
}

.numbers {
  height: 40px;
  width: 50px;
  border-radius: 10px;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: rgb(16, 16, 16);
  color: rgb(0, 166, 255);
  border: none;
  font-size: 25px;
  outline: none;
  cursor: pointer;
}

.r1,
.r2,
.r3,
.r4,.r5 {
  height: 50px;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5px;
}

.r5 button:nth-child(1){
  /* width: 100px; */
  font-size: 25px;
}
.r5 button:nth-child(2){
  /* width: 100px; */
  font-size: 25px;
}
.r5 button:nth-child(3){
  /* width: 100px; */
  font-size: 25px;
}
.r5 button:nth-child(4){
  /* width: 100px; */
  font-size: 25px;
}
