.busDetails {
  height: max-content;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: minmax(250px, 450px);
  padding: 10px 6px 10px 10px;
  color: rgb(255, 255, 255);
  box-shadow: 4px 4px 7px rgb(33, 113, 232), -4px 4px 7px rgb(33, 113, 232),
    0px -4px 7px rgb(74, 210, 20);
  border-radius: 15px;
  gap: 10px;
  margin: 15px 10px 0px 10px;
  animation: glowing 2s linear infinite;
  /* border: 1px ridge blue ; */
}

@keyframes glowing {
  0% {
    box-shadow: 4px 4px 7px rgb(33, 113, 232), -4px 4px 7px rgb(33, 113, 232),
      0px -4px 7px rgb(74, 210, 20);
  }
  50% {
    box-shadow: 0px -4px 7px rgb(74, 210, 20);
  }
  100% {
    box-shadow: 4px 4px 7px rgb(33, 113, 232), -4px 4px 7px rgb(33, 113, 232),
      0px -4px 7px rgb(74, 210, 20);
  }
}

.busDetails > span {
  text-align: center;
  color: rgb(0, 255, 4);
}

.busTitle {
  padding: 0px 5px 2px 1px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: minmax(50px, 250px);
}

.busTitle > label {
  border: 2px solid rgb(5, 100, 195);
  height: 50px;
  display: grid;
  text-align: center;
  align-items: center;
  grid-template-columns: minmax(50px, 250px);
}

.busData {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: minmax(50px, 250px);
  padding: 0px 5px 2px 1px;
}
.busData > span {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: minmax(50px, 250px);
  height: 60px;
  text-align: center;
  align-items: center;
  border: 2px solid rgb(26, 90, 201);
}
