@media screen and (prefers-color-scheme: dark) {
}

@media screen and (prefers-color-scheme: light) {
}

.ProgrammerHubConatiner {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 0px 20px 0 20px;
}

.profiles {
  height: max-content;
  display: grid;
  grid-auto-flow: row;
  gap: 25px;
  grid-template-columns: repeat(1, minmax(200px, 300px));
}

.Linkedin .linkedin,
span,
.a {
  z-index: 1;
}

.github .githubimgWrapper,
span,
.a {
  z-index: 1;
}

.Linkedin,
.github {
  display: grid;
  grid-auto-flow: row;
  padding: 30px;
  gap: 15px;
  border-radius: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  background: linear-gradient(to right top, #c4bebe, #000000);
}

.linkedin {
  height: 70px;
  width: 70px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  /* border-radius: 50%; */
}

.Linkedin span {
  color: rgb(0, 170, 255);
  font-size: 20px;
  letter-spacing: 2px;
  filter: brightness(15, 15);
}

.githubimgWrapper {
  height: max-content;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid rgb(0, 0, 0);
}

.Github {
  border-radius: 0%;
  background-color: rgb(0, 0, 0);
  height: 80px;
  width: 80px;
}

.github span {
  color: rgb(0, 0, 0);
  /* color:calc(#000000+#ffffff) ; */
  font-size: 20px;
  letter-spacing: 2px;
  filter: brightness(10, 10);
}

.a {
  color: blue;
  font-size: 18px;
  letter-spacing: 2px;
  word-spacing: 2px;
  text-decoration: none;
  filter: brightness(5, 5);
}

@media screen and (min-width: 426px) {
  .profiles {
    display: grid;
    grid-auto-flow: column;
    gap: 30px;
    grid-template-columns: repeat(2, minmax(180px, 300px));
  }
}
