.ProgrammerHubConatiner {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 0 20px 0 20px;
}

.profiles {
  height: max-content;
  display: grid;
  grid-auto-flow: row;
  gap: 25px;
  grid-template-columns: repeat(1, minmax(200px, 300px));
}

.Linkedin {
  overflow: hidden;
  position: relative;
}

.Linkedin .linkedin,
span,
.a {
  z-index: 1;
}

.Linkedin::before {
  content: "";
  height: 200px;
  width: 100%;
  background-image: linear-gradient(0deg, #ff0000, #f700ff);
  /* background: linear-gradient(180deg, #ff0000, #f700ff); */
  animation: rotate 3s linear infinite;
  transition: all 0.5s linear;
  position: absolute;
}
.Linkedin::after {
  inset: 5px;
  content: "";
  position: absolute;
  background: linear-gradient(to right top, #c4bebe, #000000);
  border-radius: 15px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.github {
  overflow: hidden;
  position: relative;
}
.github .githubimgWrapper,
span,
.a {
  z-index: 1;
}

.github::before {
  content: "";
  height: 200px;
  width: 100%;
  background-image: linear-gradient(0deg, #ff0000, #f700ff);
  /* background: linear-gradient(180deg, #ff0000, #f700ff); */
  animation: rotate 4s linear infinite;
  transition: all 0.2s linear;
  position: absolute;
}
.github::after {
  content: "";
  position: absolute;
  background: linear-gradient(to right top, #c4bebe, #000000);
  border-radius: 15px;
  inset: 5px;
}

.Linkedin,
.github {
  display: grid;
  grid-auto-flow: row;
  padding: 30px;
  gap: 15px;
  border-radius: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.linkedin {
  height: 70px;
  width: 70px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  /* border-radius: 50%; */
}

.Linkedin > span {
  color: rgb(0, 170, 255);
  font-size: 20px;
  letter-spacing: 2px;
  filter: brightness(15, 15);
}

.githubimgWrapper {
  height: max-content;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid rgb(0, 0, 0);
}

.Github {
  border-radius: 0%;
  background-color: rgb(0, 0, 0);
  height: 80px;
  width: 80px;
}

.github > span {
  color: rgb(0, 0, 0);
  font-size: 20px;
  letter-spacing: 2px;
  filter: brightness(10, 10);
}

.a {
  color: blue;
  font-size: 18px;
  letter-spacing: 2px;
  word-spacing: 2px;
  text-decoration: none;
  filter: brightness(5, 5);
}

@media screen and (min-width: 426px) {
  .profiles {
    display: grid;
    grid-auto-flow: column;
    gap: 30px;
    grid-template-columns: repeat(2, minmax(180px, 300px));
  }
}
