* {
  padding: 0%;
  margin: 0%;
}

.scrolltopContainer {
  position: fixed;
  bottom: 30px;
  right: 30px;
  overflow: hidden;
  padding: 3px;
  background:linear-gradient(to bottom,#ff0000,#ffff00,#00ffd9,#0026ff);
  border-radius: 50px;
  height: max-content;
  width: max-content;
  cursor: pointer;
}

.scrolltopWrapper {
  height: 50px;
  width: 50px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  outline: none;
  z-index: 9999999;
  filter: brightness(60,50);
  letter-spacing: 3px;
}
