#AccountContainer {
  padding: 25px;
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  gap: 15px;
  height: 500px;
  /* grid-template-columns: minmax(200px, 300px); */
  width: 280px;
  border: 2px solid whitesmoke;
  position: relative;
  background: linear-gradient(to right, #000e11, #000e11);
  overflow: hidden;
}

.LogoConatiner {
  height: max-content;
  width: max-content;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
  position: absolute;
  top: 65px;
  right: 40px;
  transform: rotateZ(90deg);
}

.AccountLogo {
  height: 100px;
  width: 100px;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(255, 255, 255);
  filter: brightness(50, 50);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  font-size: 55px;
  font-variant: small-caps;
  color: rgb(255, 0, 0);
  font-weight: 900;
}

#AccountContainer > label {
  display: flex;
  /* display: none; */
  flex-direction: column;
  gap: 5px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 6px;
  color: rgb(234, 234, 234);
  transform: rotateZ(90deg);
  font-size: 25px;
}

#AccountContainer > label:nth-child(1) {
  position: absolute;
  top: 80px;
  left: -15px;
}

#AccountContainer label:nth-child(3) {
  position: absolute;
  bottom: 135px;
  right: 25px;
}

#AccountContainer label:nth-child(4) {
  position: absolute;
  bottom: 100px;
  left: -1px;
}

#AccountContainer > label > span {
  font-size: 18px;
  font-weight: 700;
  color: rgb(235, 235, 235);
  letter-spacing: 5px;
  font-style: oblique;
  transform: translateX(50px);
  width: 150px;
  text-align: left;
  overflow-x: auto;
  padding: 7px 20px;
  border-radius: 10px;
  letter-spacing: 7px;
}

#AccountContainer > label:nth-child(1) > span {
  font-size: 18px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  /* border: 2px solid rgb(255, 0, 0); */
  letter-spacing: 5px;
  font-style: oblique;
  transform: translateX(0px);
  width: 191px;
  text-align: center;
  letter-spacing: 5px;
  /* word-spacing: 3px; */
}

#AccountContainer > label:nth-child(3) > span {
  font-size: 18px;
  font-weight: 700;
  color: rgb(235, 235, 235);
  border: 2px solid rgb(255, 0, 0);
  letter-spacing: 5px;
  font-style: oblique;
  transform: translateX(80px);
  width: 145px;
}
#AccountContainer > label:nth-child(4) > span {
  font-size: 18px;
  font-weight: 700;
  color: rgb(235, 235, 235);
  border: 2px solid rgb(255, 0, 0);
  letter-spacing: 5px;
  font-style: oblique;
  transform: translateX(50px);
  width: 145px;
}
