html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: max-content;
  background-color: rgb(0, 0, 0);
  width: 100vw;
}

*{
  scroll-behavior: smooth;
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}
body {
  scroll-behavior: smooth;
  color: whitesmoke;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 25px 25px 25px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  /* border: 5px solid rgb(50, 50, 50); */
}

/* Register  */
.formRegister {
  display: flex;
  flex-direction: column;
  background-color: #383838;
  color: black;
  height: max-content;
  width: max-content;
  padding: 25px;
  gap: 20px;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.formRegister > label {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: rgb(255, 255, 255);
  height: max-content;
  width: max-content;
}
.formRegister > label > input {
  font-size: 20px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid gray;
  color: black;
  height: 40px;
  width: 250px;
  padding: 1px 10px 1px 15px;
  letter-spacing: 3px;
}

.formRegister > label > input:focus {
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px ridge whitesmoke;
  letter-spacing: 5px;
  color: red;
}

.formRegister > .loginRef {
  height: 50px;
  width: 250px;
  background-color: transparent;
  color: rgb(30, 0, 255);
  letter-spacing: 2px;
  border: none;
  font-size: 17px;
  text-decoration: underline;
}

/* Login */
.formLogin {
  display: flex;
  flex-direction: column;
  background-color: #383838;
  color: black;
  height: max-content;
  width: max-content;
  padding: 25px;
  gap: 20px;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.formLogin > label {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: rgb(255, 255, 255);
  height: max-content;
  width: max-content;
}
.formLogin > label > input {
  font-size: 20px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid gray;
  color: black;
  height: 40px;
  width: 250px;
  padding: 1px 10px 1px 15px;
  letter-spacing: 3px;
}

.formLogin > label > input:focus-within {
  outline: none;
  border: none;
  border-bottom: 1px ridge whitesmoke;
  letter-spacing: 5px;
  color: red;
}

.formLogin > .RegisterRef {
  height: 50px;
  width: 250px;
  background-color: transparent;
  color: rgb(30, 0, 255);
  letter-spacing: 2px;
  border: none;
  font-size: 17px;
  text-decoration: underline;
}

.login,
.register {
  height: 27px;
  width: 27px;
}

.RegisterLink,
.LoginLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: 1px ridge whitesmoke;
  cursor: pointer;
  height: 50px;
  width: 250px;
  border-radius: 10px;
  font-size: 20px;
  background-color: rgb(0, 0, 0);
  color: whitesmoke;
  letter-spacing: 2px;
}
