.programmingLanguage {
  display: grid;
  grid-auto-flow: row;
  gap: 20px;
  position: relative;
  grid-template-columns: repeat(1, minmax(150px, 400px));
  grid-template-areas:
    "react"
    "nextjs"
    "github"
    "vercel";
}

.ReactWrapper,
.NextjstWrapper,
.GithubtWrapper,
.VercelWrapper {
  display: grid;
  grid-auto-flow: row;
  gap: 15px;
  height: max-content;
  padding: 15px 20px;
  justify-content: center;
  grid-template-columns: minmax(150px, 400px);
  background-color: transparent;
  border: 1px solid white;
  border-radius: 15px;
  position: relative;
  outline: none;
  cursor: pointer;
  z-index: 0;
  box-shadow:inset 0px 0px 5px white;
}

.linkA {
  height: max-content;
  width: max-content;
  font-size: 16px;
  outline: none;
  color: blue;
  text-decoration: none;
  /* background-color: rgb(0, 42, 255, 0.828); */
  padding: 8px 0px;
  letter-spacing: 1px;
}

.reactLogo {
  height: 60px;
  width: 60px;
  border-radius: 12px;
  padding: 8px;
  border: 1px ridge rgb(0, 208, 255);
}

.nextjsLogo {
  height: 60px;
  width: 60px;
  border-radius: 25px;
}

.githubLogo {
  height: 60px;
  width: 60px;
  border-radius: 50px;
}

.vercelLogo {
  height: 60px;
  width: 60px;
  border-radius: 20px;
  border: 2px solid white;
}

.ReactWrapper > h4,
.NextjstWrapper > h4,
.GithubtWrapper > h4,
.VercelWrapper > h4 {
  text-align: left;
  font-size: 21px;
  color: blue;
  letter-spacing: 1px;
  font-weight: 900;
}

.ReactWrapper,
.NextjstWrapper,
.GithubtWrapper,
.VercelWrapper > p {
  /* font-family: 'Times New Roman', Times, serif; */
  color: white;
  font-size: 17px;
  letter-spacing: 1px;
  text-align: left;
}

.ReactWrapper {
  grid-area: react;
}
.NextjstWrapper {
  grid-area: nextjs;
}
.GithubtWrapper {
  grid-area: github;
}
.VercelWrapper {
  grid-area: vercel;
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .programmingLanguage {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(2, minmax(150px, 400px));
    grid-template-areas:
      "react   nextjs"
      "github  vercel";
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .programmingLanguage {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, minmax(150px, 400px));
    grid-template-areas:
      "react nextjs github"
      "vercel nextjs github";
  }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .programmingLanguage {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, minmax(150px, 400px));
    grid-template-areas:
      "react nextjs github"
      "vercel nextjs github";
  }
}
