.programmingLanguage {
  display: grid;
  grid-auto-flow: row;
  gap: 25px;
  position: relative;
}

.ReactWrapper,
.NextjstWrapper,
.GithubtWrapper,
.VercelWrapper {
  display: grid;
  grid-auto-flow: row;
  gap: 15px;
  /* border: 2px solid rgb(0, 0, 0); */
  height: max-content;
  padding: 20px;
  text-align: justify;
  grid-template-columns: minmax(200px, 400px);
  border-radius: 15px;
  box-shadow: 0px 0px 10px whitesmoke;
}
.ReactWrapper,
.NextjstWrapper,
.GithubtWrapper,
.VercelWrapper > a{
letter-spacing: 2px;
}
.reactLogo,
.nextjsLogo,
.githubLogo,
.vercelLogo {
  height: 50px;
  width: 50px;
  border-radius: 15px;
  border: 2px solid whitesmoke;
}

.ReactWrapper > h4 {
  text-align: left;
  font-size: 20px;
  color: #ffffff;
  letter-spacing: 2px;
}

.NextjstWrapper > h4 {
  text-align: left;
  font-size: 17px;
  color: #ffffff;
  letter-spacing: 4px;
}

.GithubtWrapper > h4 {
  text-align: left;
  font-size: 17px;
  color: #ffffff;
  letter-spacing: 3px;
}

.VercelWrapper > h4 {
  text-align: left;
  font-size: 17px;
  color: #ffffff;
  letter-spacing: 3px;
}

.ReactWrapper,
.NextjstWrapper > p {
  color: rgb(235 236 240);
  /* margin: 0% 0% 10px 0%; */
}
