@media screen and (prefers-color-scheme: dark) {
}

@media screen and (prefers-color-scheme: light) {
}

.hubContainer {
  height: max-content;
  display: grid;
  grid-template-columns: minmax(200px, 300px);
  text-align: center;
  gap: 25px;
  background-color: black;
}
button {
  outline: none;
}
.moviesWrapper {
  background: linear-gradient(to bottom, #1ddfa8, #2c656e);
}

.webseriesWrapper {
  background: linear-gradient(to bottom, #1ddfa8, #2c656e);
}

.moviesWrapper {
  display: grid;
  grid-auto-flow: row;
  gap: 15px;
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
  padding: 20px;
}

span {
  font-size: 20px;
  color: black;
}

.moviesWrapper > form {
  display: grid;
  grid-auto-flow: row;
  gap: 15px;
  grid-template-columns: minmax(200px, 300px);
}

.moviesWrapper > form > label {
  text-align: left;
  letter-spacing: 1px;
  color: black;
}

.moviesWrapper > form > input {
  height: 40px;
  display: grid;
  grid-template-columns: minmax(200px, 300px);
  font-size: 18px;
  padding: 0px 10px 0px 10px;
  letter-spacing: 5px;
  border: none;
  border-bottom: 1px ridge whitesmoke;
  background-color: transparent;
  color: white;
}

.moviesWrapper > form > input:focus {
  outline: none;
  border: none;
  border-bottom: 1px ridge whitesmoke;
  letter-spacing: 5px;
  color: red;
}

.moviesWrapper > form > button {
  height: 45px;
  width: 100%;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 700;
  border-radius: 10px;
  border: none;
  background: linear-gradient(to right, #0bffba, #50b9c9, #0bffba);
}
/* Webs Series */
.webseriesWrapper {
  display: grid;
  grid-auto-flow: row;
  gap: 15px;
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
  padding: 20px;
}

.webseriesWrapper > form {
  display: grid;
  grid-auto-flow: row;
  gap: 15px;
  grid-template-columns: minmax(200px, 300px);
}

.webseriesWrapper > form > label {
  text-align: left;
  letter-spacing: 1px;
  color: black;
}

.webseriesWrapper > form > input {
  height: 40px;
  display: grid;
  grid-template-columns: minmax(200px, 300px);
  font-size: 18px;
  padding: 0px 10px 0px 10px;
  letter-spacing: 2px;
  border: none;
  border-bottom: 1px ridge whitesmoke;
  background-color: transparent;
  color: white;
}

.webseriesWrapper > form > input:focus {
  outline: none;
  border: none;
  border-bottom: 1px ridge whitesmoke;
  letter-spacing: 5px;
  color: red;
}

.webseriesWrapper > form > button {
  height: 45px;
  width: 100%;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 700;
  border-radius: 10px;
  border: none;
  background: linear-gradient(to right, #0bffba, #50b9c9, #0bffba);
  outline: none;
}

.movieSelector {
  text-align: center;
  display: grid;
  width: max-content;
  gap: 15px;
  grid-auto-flow: row;
  padding: 20px 15px 20px 15px;
  border: 2px solid whitesmoke;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
}

.movieSelector button {
  height: 40px;
  width: 250px;
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: 20px;
  letter-spacing: 2px;
  background-color: rgb(13, 241, 241);
}

.movieSelector label {
  filter: brightness(15, 15);
  letter-spacing: 2px;
  font-size: 20px;
  color: blue;
}
