.hubContainer {
  height: max-content;
  display: grid;
  grid-template-columns: minmax(200px, 300px);
  text-align: center;
  gap: 25px;
  background-color: black;
}

.moviesWrapper,
.webseriesWrapper {
  /* box-shadow: 4px 4px 10px rgb(210, 20, 77), -3px -3px 10px rgb(33, 83, 232); */
    animation: movies 10s linear infinite ;
}

@keyframes movies{
  0%{
  box-shadow: 4px 4px 10px rgb(210, 20, 77), -3px -3px 10px rgb(33, 83, 232);
  }
  25%{
  box-shadow: 4px 4px 10px rgb(33, 83, 232), -3px -3px 10px rgb(210, 20, 77);
  }
  50%{
      box-shadow: 4px 4px 10px rgb(210, 20, 77), -3px -3px 10px rgb(33, 83, 232);
  }
  75%{
  box-shadow: 4px 4px 10px rgb(33, 83, 232), -3px -3px 10px rgb(210, 20, 77);
  }
  100%{
  box-shadow: 4px 4px 10px rgb(210, 20, 77), -3px -3px 10px rgb(33, 83, 232);
  }
}

.moviesWrapper {
  display: grid;
  grid-auto-flow: row;
  gap: 15px;
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
  padding: 20px;
}

span {
  font-size: 20px;
}

.moviesWrapper > form {
  display: grid;
  grid-auto-flow: row;
  gap: 15px;
  grid-template-columns: minmax(200px, 300px);
}

.moviesWrapper > form > label {
  text-align: left;
  letter-spacing: 1px;
}

.moviesWrapper > form > input {
  height: 40px;
  display: grid;
  grid-template-columns: minmax(200px, 300px);
  font-size: 18px;
  padding: 0px 10px 0px 10px;
  letter-spacing: 5px;
  border: none;
  border-bottom: 1px ridge whitesmoke;
  background-color: transparent;
  color: white;
}

.moviesWrapper > form > input:focus {
  outline: none;
  border: none;
    border-bottom: 1px ridge whitesmoke;
  letter-spacing: 5px;
  color: red;
}

.moviesWrapper > form > button {
  height: 45px;
  width: 100%;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 700;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px 5px rgb(255, 255, 255);
}
/* Webs Series */
.webseriesWrapper {
  display: grid;
  grid-auto-flow: row;
  gap: 15px;
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
  padding: 20px;
}

.webseriesWrapper > form {
  display: grid;
  grid-auto-flow: row;
  gap: 15px;
  grid-template-columns: minmax(200px, 300px);
}

.webseriesWrapper > form > label {
  text-align: left;
  letter-spacing: 1px;
}

.webseriesWrapper > form > input {
  height: 40px;
  display: grid;
  grid-template-columns: minmax(200px, 300px);
  font-size: 18px;
  padding: 0px 10px 0px 10px;
  letter-spacing: 2px;
  border: none;
  border-bottom: 1px ridge whitesmoke;
  background-color: transparent;
  color: white;
}

.webseriesWrapper > form > input:focus {
  outline: none;
  border: none;
    border-bottom: 1px ridge whitesmoke;
  letter-spacing: 5px;
  color: red;
}

.webseriesWrapper > form > button {
  height: 45px;
  width: 100%;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 700;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px 5px rgb(255, 255, 255);
}

@media screen and (min-width:768px) {
  .hubContainer {
  height: max-content;
  display: grid;
  grid-auto-flow: column;
  text-align: center;
  gap: 50px;
  margin: 15px 10px 20px 10px;
  background-color: black;
}
}