.hubContainer {
  height: max-content;
  display: grid;
  grid-template-columns: minmax(200px, 300px);
  text-align: center;
  gap: 25px;
  background-color: transparent;
}

.tamildubmovies,.tamilmovies{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.tamildubmovies,.tamilmovies label {
  letter-spacing: 1px;
  font-size: 20px;
  color: blue;
}

 button {
  height: max-content;
  width: 100%;
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: 17px;
  background-color: rgb(13, 241, 241);
  padding: 10px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.moviesWrapper {
  background: linear-gradient(to bottom, #1ddfa8, #2c656e);
}

.webseriesWrapper {
  background: linear-gradient(to bottom, #1ddfa8, #2c656e);
}

.moviesWrapper {
  display: grid;
  grid-auto-flow: row;
  gap: 15px;
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
  padding: 20px;
}

span {
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.moviesWrapper > form {
  display: grid;
  grid-auto-flow: row;
  gap: 15px;
  grid-template-columns: minmax(200px, 300px);
}

.moviesWrapper > form > label {
  text-align: left;
 font-size: 17px;
  color: rgb(255, 255, 255);
}

.moviesWrapper > form > input {
  height: 40px;
  display: grid;
  grid-template-columns: minmax(200px, 300px);
  font-size: 18px;
  padding: 0px 10px 0px 10px;
  letter-spacing: 5px;
  border: none;
  border-bottom: 1px ridge whitesmoke;
  background-color: transparent;
  color: rgb(0, 0, 0);
}

.moviesWrapper > form > input:focus {
  outline: none;
  border: none;
  border-bottom: 1px ridge whitesmoke;
  letter-spacing: 5px;
  color: rgb(0, 0, 0);
}

.moviesWrapper > form > button {
  height: 45px;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
  border: none;
  background: linear-gradient(to right, #0bffba, #0bffba);
  outline: none;
}
/* Webs Series */
.webseriesWrapper {
  display: grid;
  grid-auto-flow: row;
  gap: 15px;
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
  padding: 20px;
}

.webseriesWrapper > form {
  display: grid;
  grid-auto-flow: row;
  gap: 15px;
  grid-template-columns: minmax(200px, 300px);
}

.webseriesWrapper > form > label {
  text-align: left;
  font-size: 17px;
  color: rgb(255, 255, 255);
}

.webseriesWrapper > form > input {
  height: 40px;
  display: grid;
  grid-template-columns: minmax(200px, 300px);
  font-size: 18px;
  padding: 0px 10px 0px 10px;
  letter-spacing: 2px;
  border: none;
  border-bottom: 1px ridge whitesmoke;
  background-color: transparent;
  color: rgb(0, 0, 0);
}

.webseriesWrapper > form > input:focus {
  outline: none;
  border: none;
  border-bottom: 1px ridge whitesmoke;
  letter-spacing: 5px;
  color: rgb(0, 0, 0);
}

.webseriesWrapper > form > button {
  height: 45px;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
  border: none;
  background: linear-gradient(to right, #0bffba, #0bffba);
  outline: none;
}

.movieSelector {
  text-align: center;
  display: grid;
  width: max-content;
  gap: 15px;
  grid-auto-flow: row;
  padding: 20px 15px 20px 15px;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 0px 0px 5px white;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
}

@media screen and (min-width:768px) {
  .hubContainer {
  height: max-content;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: minmax(200px, 300px);
  text-align: center;
  gap: 25px;
  background-color: transparent;
}
}


