.ProgrammerHubConatiner {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin: 10px 15px 0px 15px;
}

.FindHWContainer {
  margin: 0px 15px 0px 15px;
  height: max-content;
  padding: 15px;
  gap: 15px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgb(62, 36, 255), -5px -5px 10px rgb(255, 34, 148);
  display: grid;
  grid-auto-flow: row;
  text-align: center;
  grid-template-columns: minmax(200px, 350px);
  animation: glowing 10s linear infinite;
}

@keyframes glowing {
  0% {
    box-shadow: 5px 5px 10px rgb(62, 36, 255), -5px -5px 10px rgb(255, 34, 148);
  }
  25% {
    box-shadow: 4px 4px 10px rgb(255, 34, 148), -5px -5px 10px rgb(62, 36, 255);
  }
  50% {
    box-shadow: 4px 4px 10px rgb(62, 36, 255), -5px -5px 10px rgb(255, 34, 148);
  }
  75% {
    box-shadow: 4px 4px 10px rgb(255, 34, 148), -5px -5px 10px rgb(62, 36, 255);
  }
  100% {
    box-shadow: 4px 4px 10px rgb(62, 36, 255), -5px -5px 10px rgb(255, 34, 148);
  }
}

h4 {
  letter-spacing: 1px;
}
span,
label {
  font-size: 18px;
  letter-spacing: 2px;
}
