.todoContainer {
  height: max-content;
  padding: 15px;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: minmax(200px, 325px);
  border-radius: 15px;
  gap: 15px;
  /* box-shadow: 1px 1px 15px whitesmoke; */
  border: 2px solid rgba(255, 255, 255, 0.797);
  background: transparent;
}

.todoContainer span {
  text-align: center;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.887);
}

.todoInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  position: relative;
}

.todoInput input {
  height: 40px;
  font-size: 18px;
  padding: 0% 10px;
  letter-spacing: 2px;
  outline: none;
  border: none;
  border-bottom: 1px ridge rgb(255, 255, 255);
  background-color: transparent;
  color: rgba(255, 255, 255, 0.888);
  width: 100%;
  margin: 0% 30px;
}

.todoInput button {
  height: 40px;
  width: 150px;
  background-color: rgb(85, 255, 0);
  border: none;
  outline: none;
  border-radius: 7px;
  font-size: 20px;
  letter-spacing: 2px;
}

/* .todoLists::-ms-fill::after { */
.todoLists {
  padding: 7px;
  margin: 15px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 10px;
  border: 2px ridge rgb(255, 255, 255);
  height: 265px;
  border-radius: 10px;
}


.todoLists:empty::after {
  content: "No tasks yet. Add Some!";
  text-align: center;
  color: rgba(255, 0, 0, 0.751);
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.todoList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px ridge rgb(255, 255, 255);
  height: max-content;
  padding: 10px 10px;
}



.todoList span {
  font-size: 18px;
  font-variant: small-caps;
  letter-spacing: 2px;
  overflow-x: scroll;
  padding: 0% 10px 0% 0%;
  text-align: center;
  color: rgb(255, 255, 255);
  width: 200px;
}

.todoList button {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: red;
  color: rgb(0, 0, 0);
  font-size: 20px;
}
