.todoContainer {
  height: max-content;
  padding: 15px;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: minmax(200px, 325px);
  border-radius: 15px;
  gap: 15px;
  border: 2px solid white;
    box-shadow: 0px 0px 7px white;
  background: transparent;
}

.todoContainer span {
  text-align: center;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: 900;
  color: white;
}

.todoInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  position: relative;
}

.todoInput input {
  height: 40px;
  font-size: 18px;
  padding: 0% 10px;
  letter-spacing: 2px;
  outline: none;
  border: none;
  border-bottom: 1px ridge white;
  background-color: transparent;
  color: white;
  width: 100%;
  margin: 0% 30px;
}

.todoInput button {
  height: 40px;
  width: 100px;
  background-color: #1ddfa8;
  border: none;
  outline: none;
  border-radius: 7px;
  font-size: 19px;
}

.todoLists {
  padding: 7px;
  margin: 15px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 10px;
  border: 2px ridge white;
    box-shadow: 0px 0px 5px white;
  height: 265px;
  border-radius: 10px;
}


.todoLists:empty::after {
  content: "No tasks yet. Add Some!";
  text-align: center;
  color: rgba(255, 0, 0, 0.751);
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.todoList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px ridge white;
  height: max-content;
  padding: 10px 10px;
}



.todoList span {
  font-size: 17px;
  padding: 0% 10px 0% 0%;
  text-align: center;
  color: white;
  width: 200px;
  overflow-x: scroll;
}

.todoList button {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: red;
  color: rgb(0, 0, 0);
  font-size: 20px;
  padding: 5px;
}
